{% extends 'myapp/base.html' %} {% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title h3 mb-0">Find Classroom</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'findclassroom' %}" method="post" id="find-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="noice" class="form-label h4">Noice</label>
                                    <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="noise" id="btnradio1" autocomplete="off"  checked value="Quiet">
                                        <label class="btn btn-outline-primary" for="btnradio1">Quiet</label>

                                        <input type="radio" class="btn-check" name="noise" id="btnradio2" autocomplete="off" value="Whisper">
                                        <label class="btn btn-outline-primary" for="btnradio2">Whisper</label>

                                        <input type="radio" class="btn-check" name="noise" id="btnradio3" autocomplete="off" value="Talk Free">
                                        <label class="btn btn-outline-primary" for="btnradio3">Talk Free</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group"> 
                                <div class="mb-3">
                                    <label for="sizeOfRoom" class="form-label h4">Number Students</label> 
                                    <input type="range" class="form-control-range" name="sizeOfRoom"  id="sizeOfRoom" onInput="$('#rangevalSize').html($(this).val())">
                                    <span id="rangevalSize">50<!-- Default value --></span>

                                </div>
                            </div>

                            <div class="form-group"> 
                                <div class="mb-3">
                                    <label for="capacity" class="form-label h4" >Capacity</label> 
                                    <input type="range" class="form-control-range" name="capacity" id="capacity" onInput="$('#rangevalCapacity').html($(this).val())">
                                    <span id="rangevalCapacity">50<!-- Default value --></span>

                                </div>
                            </div>
                            
                            <div class="form-group"> 
                                <div class="mb-3">

                                    <form action="/action_page.php">
                                        <label for="startDate" class="form-label h4">Start Date</label>
                                        <input type="date" id="startDate" name="startDate">
                                        <!-- <input type="submit"> -->
                                    </form>
                                    <br>
                                    <form action="/action_page.php">
                                        <label for="startTime" class="form-label h4">Start Time</label>
                                        <input type="time" id="startTime" name="startTime">
                                        <!-- <input type="submit"> -->
                                    </form>
                                    <label for="capacity" class="form-label h4" >Expected Duration</label> 
                                    <input type="range" class="form-control-range" id="noice" onInput="$('#rangevalDuration').html($(this).val())">
                                    <span id="rangevalDuration">50<!-- Default value --></span>

                                </div>
                            </div>
                            
                            <!-- Type of Seating -->
                            <h1 class="h4">Type of Seating</h1>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Desk
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Table
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  Couch
                                </label>
                            </div>

                            <!-- Food allowed -->
                            <h1 class="h4">Food Allowed</h1>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Yes
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  No
                                </label>
                            </div>

                            <!-- Monitor available -->
                            <h1 class="h4">Monitor Available</h1>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Yes
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  No
                                </label>
                            </div>

                            

                            {% if error %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                            {% endif %}

                        </form>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm rounded-0 btn-primary w-100" form="find-form">Find</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}