{% extends 'myapp/base.html' %} {% block content %}

<div class="container py-5">
    <h3>{{msg}}</h3>
    <div class="card rounded-0 mb-5">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="card-title h3 mb-0">List of Recommended Classrooms</div>
                </div>
                <div class="col-md-4 ">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'findclassroom' %}" method="post" id="book-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 ">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search", id="searchClassroom" name="searchClassroom">
                            </div>
                            <div class="col-md-6 ">
{#                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>#}
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="row">
                    
                    {% for row in classroom_list %}
        
                    <div class="card col-3" style="width: 18rem;">
                        <form action="{% url 'bookings' %}" method="post" id="book-form">
                            {% csrf_token %}
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                
                                <h5 class="card-title">{{row.classroom_name}}</h5>
                                
                                <p class="card-text">Energy EnergyEfficiency: {{row.energyEfficiency}}<br>Capacity:{{row.capacity}}<br>NumberStudent:{{row.number_student}}</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

                    
                                <!-- <button class="btn btn-sm rounded-0 btn-primary w-100" form="book-form">Book Now</button> -->
                                <button type="submit" class="btn btn-sm rounded-0 btn-primary w-100" name="classroom_name" value={{row.classroom_name}}>Book Now</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}