{% extends 'myapp/base.html' %} {% block content %}
<div class="container py-5">
    <h3>{{msg}}</h3>
    <div class="card rounded-0 mb-5">
        <div class="card-header">
            <div class="card-title h3 mb-0">List of Recommended Classrooms</div>
        </div>
        <div class="card-body">
            <div class="row">
                    
                    {% for row in classroom_list %}
        
                    <div class="card col-3" style="width: 18rem;">
                        <form action="{% url 'bookings' %}" method="post" id="book-form">
                            {% csrf_token %}
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                
                                <h5 class="card-title">{{row.classroom_name}}</h5>
                                
                                <p class="card-text">Energy EnergyEffciency: {{row.energyEffciency}}<br>Capacity:{{row.capacity}}</p>
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

                    
                                <!-- <button class="btn btn-sm rounded-0 btn-primary w-100" form="book-form">Book Now</button> -->
                                <button type="submit" class="btn btn-sm rounded-0 btn-primary w-100" name="classroom_name" value={{row.classroom_name}}>Book Now</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card rounded-0">
                <div class="card-header">
                    <div class="card-title h3 mb-3">Booking Form</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'bookings' %}" method="post" id="book-form">
                            <h3>Choose classroom to book</h3>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="classroom_name" class="control-label">Enter Classroom Number</label>
                                <input name='classroom_name' class="form-control rounded-0" type="text" id="classroom_name">
                            </div>
                         
                            {% if error %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-sm rounded-0 btn-primary w-100" form="book-form">Book Now</button>
                </div>
            </div>
        </div>
    </div> -->
</div>



{% endblock %}